/* Tipos y variables */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Caveat:wght@400;600;700&family=Sora:wght@400;600;700&display=swap");

:root {
  /* ================= PALETA BASE ================= */
  --color-bg: radial-gradient(
    circle at center,
    #fef5e7 0%,
    /* beige claro */ #f8f8f8 80%,
    /* gris muy claro */ #e6eaf1 100% /* gris azulado */
  );
  --color-text: #f8f8f8; /* texto principal */
  --color-text-muted: black; /* texto secundario */

  --color-primary: #8f7e4a; /* marrón corporativo */
  --color-secondary: #416894; /* azul corporativo */

  /* ================= NAV-BAR ================= */

  --navbar-bg: linear-gradient(to bottom, #f8f8f8, #e6eaf1);


  /* ================= LAYOUT ================= */
  --navbar-height: 6rem;
  --footer-height: 12rem;
  --height-h: calc(100svh - var(--navbar-height) - var(--footer-height));

  --radius: 20px;
  --shadow: 0 10px 30px rgba(0, 0, 0, 0.15);

  /* ================= TIPOGRAFÍAS ================= */
  --font-base: "Roboto", sans-serif;
  --font-title: "Merriweather", serif;
  --font-alt: "Sora", sans-serif;

  /* ================= ANIMACIONES ================= */
  --fx-dur: 2s;
  --fx-ease: cubic-bezier(0.16, 1, 0.3, 1);
  --fx-delay-title: 0.1s;
  --fx-delay-sub: 0.1s;
}

/* Reset mínimo */
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
} /* 1rem = 10px */
body {
  margin: 0;
  font-family: var(--font-base);
  color: var(--color-text);
  background: var(--color-bg);
  line-height: 1.5;
}

/* Links sin subrayado global */
a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
  font-size: 1.6rem;
  font-weight: 500;
  font-family: var(--font-base);
  line-height: 1.4;
}
